autopep8==2.3.1
certifi==2024.8.30
chardet==5.2.0
charset-normalizer==3.3.2
colorama==0.4.6
idna==3.10
iniconfig==2.0.0
packaging==24.1
pillow==10.4.0
ping3==4.0.8
pluggy==1.5.0
psutil==6.0.0
pycodestyle==2.12.1
pydub==0.25.1
pypdf==5.0.0
requests==2.32.3
tomli==2.0.1
urllib3==2.2.3
watchdog==5.0.2
