autopep8==2.3.2
certifi==2025.8.3
chardet==5.2.0
charset-normalizer==3.4.3
colorama==0.4.6
cryptography==46.0.1
idna==3.10
iniconfig==2.1.0
paramiko==4.0.0
packaging==25.0
pillow==11.3.0
ping3==5.1.5
pluggy==1.6.0
psutil==7.1.0
pycodestyle==2.14.0
pydantic==2.11.9
pydub==0.25.1
pypdf==6.0.0
requests==2.32.5
tomli==2.2.1
urllib3==2.5.0
watchdog==6.0.0

# Windows specific requirements

pyreadline3==3.5.4          ; platform_system == "Windows"
python-magic-bin==0.4.14    ; platform_system == "Windows"
windows-curses==2.4.1       ; platform_system == "Windows"

# Linux specific requirements

python-magic==0.4.27        ; platform_system == "Linux"
