autopep8==2.3.2
certifi==2025.4.26
chardet==5.2.0
charset-normalizer==3.4.2
colorama==0.4.6
cryptography==45.0.4
idna==3.10
iniconfig==2.1.0
paramiko==3.5.1
packaging==25.0
pillow==11.2.1
ping3==4.0.8
pluggy==1.6.0
psutil==7.0.0
pycodestyle==2.13.0
pydub==0.25.1
pypdf==5.6.0
requests==2.32.3
tomli==2.2.1
urllib3==2.4.0
watchdog==6.0.0
